// main: styles.less

#content {
    position: relative;
    min-height: 400px;

    .wrapper {
        height: 100%;
    }
}

#tabs {
    display: block;
    width: 100%;

    .tab-list {
        display: block;
        list-style: none;
        margin: 0;
        padding: 0;
        background-color: @sBlue;
    }

    .tab-link {
        width: 100%;
        overflow: hidden;

        a {
            display: block;
            padding: 10px;
            color: @coal;
            text-decoration: none !important;

            &:hover {
                background-color: @xlBlue;
            }
        }

        .glyphicon {
            margin-right: 10px;
            color: @white;
        }
    }

    .tab-label {
        color: @white;
        font-weight: bold;
        overflow: hidden;
    }

    #tabsHead {
        position: absolute;
        top: 0;
        left: 0;

        .tab-label {
            width: 0;
        }
        .tab-link {
            height: 0;

            &:first-child {
                height: auto;
            }
        }

        &.open {
            color: white;

            .tab-label {
                width: auto;
            }
            .tab-link {
                height: auto;
            }
        }
    }
}
